/Properties/launchSettings.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
bin/
Bin/
obj/
Obj/

.vs/
/wwwroot/dist/

# LLVM
*.tokens
*.ll
*.lst
*.conflicts
*.exe
*.bat
